

  <ion-slides pager="true"[options]="{pagination: false}">

    <ion-slide>
      <h2>ChilOut</h2>
      <h3>Nature Calls</h3>
      <app-logo></app-logo>
      <h5>Let your self loose.</h5>
      <h5>Give your self a chance.</h5>
      <h5>When nature calls,</h5>
      <h5>run to it!</h5>
    </ion-slide>

    <ion-slide>
      <h2>Inspiration</h2>
      <h4>Find what inspires you!</h4>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Singing Birds</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="danger" class="sign-btn" (click)="navigateToLoginPage()">Horses</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Water Springs</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="danger" class="sign-btn" (click)="navigateToLoginPage()">In the Woods</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Piano</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="danger" class="sign-btn" (click)="navigateToLoginPage()">Saxophone</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Morning Breeze</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="danger" class="sign-btn" (click)="navigateToLoginPage()">Random</ion-button>
    </ion-slide>

    <ion-slide>
      <h2>There's more!</h2>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Singing Birds</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="danger" class="sign-btn" (click)="navigateToLoginPage()">Horses</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Water Springs</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="danger" class="sign-btn" (click)="navigateToLoginPage()">In the Woods</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Piano</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="danger" class="sign-btn" (click)="navigateToLoginPage()">Saxophone</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Random</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="danger" class="sign-btn" (click)="navigateToLoginPage()">Saxophone</ion-button>
      <ion-button expand="block" shape='block' type="submit" color="dark" class="sign-btn" (click)="navigateToLoginPage()">Random</ion-button>

    </ion-slide>

  </ion-slides>


