<ion-header>
  <ion-toolbar>
    <div class="center">
      <ion-title style="text-align: center;">Home</ion-title>
    </div>
    <div>
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
      <a href="#" style="font-size: 12px; font-weight: 200px;">Log Out</a>
    </div>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapContent">
      <video width=100% controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="./assets/videos/water falls.mp4" type="video/mp4" /><ion-icon name="heart-outline"></ion-icon>
       </video>
  </div>
</ion-content>





